<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KAKAOMAP_KEY</key>
	<string>30d0d841c02f99a1f94f7af2c54bee9f</string>
	<key>OPENWEATHERMAP_KEY</key>
	<string>0640b95f418fe69e7c7a882c71d17482</string>
</dict>
</plist>
